@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
$logocolor:#E69900;
$logolightcolor:#efe2c7;
$textcolor:#000000;
$fontfamily-s:'Spectral', sans-serif;
$fontfamily-q:'Quicksand', sans-serif;
$rem: 16px;
